<ion-header>
  <h1>Register</h1>
</ion-header>
<!--  -->
<!-- <ion-header>
  <ion-buttons slot="start">
    <ion-button (click)="backTo()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Register</ion-title>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="formContainer">
    <h1>Register Book</h1>
    <span>
      <label for="">ISBN</label>
      <input [(ngModel)]="book.isbn" name="isbn" type="text">
    </span>
    <span>
      <label for="">Book Name</label>
      <input [(ngModel)]="book.name" name="name" type="text">
    </span>
    <span>
      <label for="">Author</label>
      <input [(ngModel)]="book.author" name="author" type="text">
    </span>
    <span>
      <label for="">Book Cover (.png)</label>
      <input type="file"  accept=".png">
    </span>
    <span>
      <label for="">Book Details</label>
      <!-- <input type="text" name="" id=""> -->
      <ion-textarea [(ngModel)]="book.description" fill="outline" placeholder="Type something here" name="description"></ion-textarea>
    </span>
    <button (click)="registerBook()">Register</button>
  </div>

</ion-content>
