<ion-header>
  <h1>Register</h1>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="formContainer">
    <h1>Register Book</h1>
    <span>
      <label for="">ISBN</label>
      <input type="text" name="" id="">
    </span>
    <span>
      <label for="">Book Name</label>
      <input type="text" name="" id="">
    </span>
    <span>
      <label for="">Author</label>
      <input type="text" name="" id="">
    </span>
    <span>
      <label for="">Book Cover (.png)</label>
      <input type="text" name="" id="">
    </span>
    <span>
      <label for="">Book Details</label>
      <input type="text" name="" id="">
    </span>
    <button>Register</button>
  </div>
</ion-content>
