ion-header{
  display: flex;
  justify-content: center;
  background-color: rgb(37, 108, 40);
  padding: 1em 0 0.5em 0;
  border-radius: 0 0 15px 15px ;
  box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.2); 
  position: absolute;
  // color: aliceblue;
  z-index: 3;
}


ion-content{
  p,h1{
    margin:0;
    padding: 0;
  }
  // --ion-background-color: white !important;
  .statisticContainer{
    position: relative;
    height: 40%;
    border-radius:20px ;
    box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.2); 
    width:100%;
    display: flex;
    align-items:center;
    justify-content: end;
    flex-direction: column;
    background-color: whitesmoke;
    
    .statisticStreak{
      color: black;
      display: flex;
      flex-direction: row;
      gap: 1em;
      height: 4em;
      width: 100%;
      justify-content: center;
      align-items: center;

      span{
        font-size: 20px;
        border: solid 5px rgb(255, 66, 66);
        padding: 0.2em;
        border-radius: 100%;
        width: 2em; height: 2em;
        text-align: center;
      }
    }
  }

  .listOfBooksContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;

    margin:0 1em 0 1em ;
    padding: 2em 1em;
    }

  .bookContainer{
    display: flex;
    flex-direction: column;
    // color: black;
    align-items: start;
    gap: 10px;

    span{
      display: flex;
      flex-direction: column;
      gap: 0.4em;
      width: 100%;
      justify-content: start;
    }
  }
  .bookProfile{
    width: 100%;
    border: solid 2px rgb(66, 201, 66);
}
}