<!-- <ion-header>
    <h1>Book</h1>
</ion-header> -->
<ion-header>
  <ion-buttons slot="start">
    <ion-button (click)="goBack()">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title class="ion-text-center">Book</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bookContainer">
    <img class="bookProfile" src="assets/img/book1.webp" alt="book1">
    <h3>Title</h3>
    <p>Author: Will Smith</p>
    <button (click)="startSession()" class="btn-start-session">Start Session</button>
  </div>
  <div class="bookDescContainer">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis neque maiores ducimus, eum libero quia natus totam id culpa nesciunt magni sit corrupti earum quae non. Exercitationem, magnam asperiores! Eaque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis neque maiores ducimus, eum libero quia natus totam id culpa nesciunt magni sit corrupti earum quae non. Exercitationem, magnam asperiores! Eaque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis neque maiores ducimus, eum libero quia natus totam id culpa nesciunt magni sit corrupti earum quae non. Exercitationem, magnam asperiores! Eaque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis neque maiores ducimus, eum libero quia natus totam id culpa nesciunt magni sit corrupti earum quae non. Exercitationem, magnam asperiores! Eaque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis neque maiores ducimus, eum libero quia natus totam id culpa nesciunt magni sit corrupti earum quae non. Exercitationem, magnam asperiores! Eaque.
      
    </p>
  </div>
</ion-content>
